:root {
  --primary: #DADADA;/*#1E1E1E*/
  --secondary: #10243E;/*#1C1C1E*/
  --trC:rgba(255,255,255,0.1);
  --fontC: #DADADA;/*#1E1E1E*/
	
  --mY: 10px;
	
  --hY: 120px;
  --hYo: 80%;
  --hYm: 240px;
  --sF: 0.9rem;
  --bF: 3rem;
  --tA: left;
	
  --wY: 50px;
  --wD: 50px;
  
  --br:15px;
  --bl:35px;
 
}


html, body {
    padding:0;
    margin:0;
	background:#000000;
	font-family: 'go';
}

@font-face{
    font-family: 'rob';
    src:url(Fonts/Roboto-Thin.ttf);
}

@font-face{
    font-family: 'go';
    src:url(Fonts/SFUIDisplayCondensed-Regular.otf);
}

.bg{
	position: fixed;
	background: linear-gradient(
	    175deg,
		#000000 20%,
		var(--secondary)
	);
	width: 100%;
	height: 100%;
}

section{
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

/*--------------- HEAD ------------------*/
header{
	position:fixed;
	width:100vw;
	height:100px;
	overflow:hidden;
	z-index:100;
}

#logo{
	position:absolute;
	width:75px;
	transition: opacity 0.3s;
}

/*----------------- FOOT-------------------*/

#social-cont{
	position:fixed;
	width:350px;
	text-align:center;
	bottom:30px;
	transition: opacity 0.5s 0.2s;
}

#social-cont img{
	display:inline-block;
	border-radius:8px;
	width:30px;
	margin:0 10px;
	cursor:pointer;
}

/*----------------- SECTION 1-------------------*/
.main-title{
	position:absolute;
	color: var(--primary);
	width: 100%;
	text-align: center;
	transition: opacity 0.3s;
}

#apps-container{
	position: relative;
	width: 100%;
	height: calc(100% - 180px);
	padding-top: 100px;
	padding-bottom: 180px;
	overflow: auto;
}

.app-cont{
	position: relative;
	background: var(--trC);
	min-height: calc(50% - 10px);
	width: calc(100% - 40px);
	max-width: 450px;
	border-radius: var(--br);
	margin: 20px auto;
	text-align: center;
}

.app-name{
	position: relative;
	display: inline-block;
	width: calc(100% - 40px);
	color: var(--primary);
	font-size: 1.5rem;
	text-align: left;
	margin: 20px auto;
}

.app-desc{
	position: relative;
	display: inline-block;
	width: calc(100% - 40px);
	color: var(--primary);
	font-size: 1rem;
	margin: 20px auto;
	margin-bottom: 70px;
}

.app-cont > img{
	position: relative;
	display: inline-block;
	width: 50%;
	max-width: 200px;
	border-radius: 15px;
	margin: 10px auto;
}

.app-imcont{
	position: absolute;
	background: var(--trC);
	padding:5px 10px;
	border-radius: 10px 10px 0 0;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.app-imcont > img{
	position: relative;
	height: 30px;
	margin: 0px 10px;
}



/*GENERAL CLASES*/

.close{
	display: none;
	opacity: 0;
}

.show{
	opacity: 1;
}

.midX{
	left:50%;
	transform:translateX(-50%);
}

.midY{
	top:50%;
	transform:translateY(-50%);
}

.center{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.addBlur{
	-webkit-backdrop-filter:blur(var(--bl));
	backdrop-filter:blur(var(--bl));
}

.shadow-dark-out{
	box-shadow:0px 2.3px 3.8px rgba(0, 0, 0, 0.15),
  0px 6.3px 10.6px rgba(0, 0, 0, 0.25),
  0px 15.1px 25.6px rgba(0, 0, 0, 0.35),
  0px 50px 85px rgba(0, 0, 0, 0.07);
}




/*--------------- setup --------------
#subBtn{
	position:absolute;
	right:10px;
}


/*----------------- SECTION 1-------------------
#section1{
	position:relative;
	background:url(img/bg.JPG) no-repeat;
	background-position:center;
	background-size:cover;
	width:100%;
	height:100vh;
}

#title-cont{
	position:absolute;
	right:25%;
	transform:translate(50%,-50%);
}

#_title{
	color:#FFFFFF;
	margin-right:-10px;
	font-size:36px;
	letter-spacing:25px;
	text-align:right;
}

#_sub-title{
	margin-top:20px;
	color:#979FA3;
	font-size:18px;
	letter-spacing:10px;
	text-align:right;
}

#_sub-title > span{
	color:#DD254D;
}


#priv-cont{
	position:absolute;
	width: 100%;
	height: calc(100% - 160px);
	top: 60px;
	overflow: auto;
}

#priv-title{
	width: 100%;
	text-align: center;
	color:#FFFFFF;
	font-size: 36px;
}

#priv-info{
	padding: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
	width: 85%;
	color:#FFFFFF;
	font-family: 'rob';
	-webkit-backdrop-filter:blur(20px);
	backdrop-filter:blur(20px);
}

/*----------------- PARTICLES ----------------------
#partCont{
	position:absolute;
	border-radius:50%;
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
}

#particles-js{
	position:absolute;
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
}


/*----------------- SECTION 2-------------------
#section2{
	position:relative;
	background:#000000;
	width:100%;
	height:50vh;
}

#cir{
	position:absolute;
	border:2px solid #DD254D;
	width:50%;
	height:200%;
	border-radius:100%;
	box-shadow:inset 0 0 50px -5px #DD254D;
}

#_repo{
	position:absolute;
	color:#979FA3;
	font-size:20px;
}


/*----------------- SECTION 3-------------------
#section3{
	position:relative;
	width:100%;
	min-height:100vh;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#wid-cont{
	position:absolute;
	width:100%;
	top:100px;
}

.wid-box{
	position:relative;
	width:80vw;
	height:250px;
	overflow:hidden;
	cursor:pointer;
}

.nameW{
	position:absolute;
	background:rgba(0,0,0,.50);
	width:20%;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
}

.im-wid{
	position:absolute;
	width:100%;
	opacity: 0;
	transition: opacity 2s;
}

/*---------------- setup -------------------
#set-cont{
	position:absolute;
	width:90%;
}

.set-box{
	position:relative;
	display:inline-block;
	width:30%;
	height:250px;
	overflow:hidden;
	cursor:pointer;
}

.nameS{
	position:absolute;
	background:rgba(0,0,0,.50);
	width:80%;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
}

.im-set{
	position:absolute;
	width:100%;
	opacity: 0;
	transition: opacity 2s;
}





/*----------------- IMAGE VIEWER-------------------
#image-viewer, #setup-viewer{
	position:fixed;
	background:rgba(0,0,0,.90);
	width:100vw;
	height:100vh;
	z-index:200;
	display:none;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#full-wid{
	position:absolute;
	width:70%;
}

/*-------------------- setup ----------------------
#setup-viewer{
	background-image:
    linear-gradient(
	  60deg,
      rgba(27,40,76,.90),
      rgba(15,168,165,.90)
    );
}

#full-set{
	position:absolute;
	width:40%;
	left:10%;
}

#_desc{
	position:absolute;
	width:40%;
	left:60%;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	font-size:16px;
	font-family: 'rob';
	color:#FFFFFF;
}

#_desc a{
	color:#FFFFFF;
	text-decoration:none;
}

/*----------------- SUBMIT VIEW -------------------
#submit-view{
	position:fixed;
	background:rgba(255,255,255,.95);
	width:100vw;
	height:100vh;
	z-index:200;
	display:none;
}

#txt-submit{
	position:absolute;
	width:50%;
	font-size:16px;
	padding:20px;
	font-family: 'rob';
}




/* CLASES 
.closeBtn{
	position:fixed;
	background:#FFFFFF;
	width:60px;
	border-radius:5px;
	padding:5px;
	font-size:14px;
	text-align:center;
	top:40px;
	right:20px;
	cursor:pointer;
}

.txt-head{
	display:inline-block;
	min-width:100px;
	height:30px;
	padding-top:10px;
	margin-left:-4px;
	border-right:1px solid #FFFFFF;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	font-family: 'rob';
	cursor:pointer;
	transition:background 1s;
}




@media not all and (pointer: coarse) {
	.txt-head{
		transition:background 1s;
	}
	
	.txt-head:hover{
		background:rgba(255,255,255,1.0);
		color:#C12044;
	}
}



@media screen and (max-width: 550px){
	
	/*#menu-cont{
		width:220px;
	}
	
	#title-cont{
		position:absolute;
		width:90%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	
	#_title{
		font-size:24px;
		letter-spacing:12px;
		text-align:right;
	}
	
	#_sub-title{
		font-size:12px;
		letter-spacing:5px;
		text-align:right;
	}
	
	#cir{
		width:95%;
		height:110%;
	}
	
	.wid-box{
		height:200px;
	}
	
	.set-box{
		width:50%;
		height:200px;
	}

	#full-wid{
		width:90%;
	}
	
	#txt-submit{
		width:80%;
	}
	
	#setup-viewer{
		text-align:center;
	}
	
	#full-set{
		position:static;
		width:90%;
		transform:translateY(35%);
		top:100px;
		left:50%;
		transform:translateX(-50%);
	}
	
	#_desc{
		position:static;
		width:80%;
		margin-top:20px;
		margin-left: auto;
    	margin-right: auto;
		padding-bottom:20px;
		transform:translateY(45%);
		left:50%;
		top:98vw;
		transform:translateX(-50%);
	}
}
*/



