html, body {
    padding:0;
    margin:0;
	background: #FFFFFF;
	font-family: 'rob';
}

@font-face{
    font-family: 'rob';
    src:url(../Fonts/Roboto-Thin.ttf);
}

@font-face{
    font-family: 'reg';
    src:url(../Fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'go';
    src:url(../Fonts/Gobold.otf);
}

section{
	overflow:hidden;
}


/*--------------- HEAD ------------------*/

.header {
  background-color: rgba(255,255,255,.50);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
}

#logo{
	float: left;
	width:50px;
	margin-top:5px;
	padding:5px;
	cursor:pointer;
}


/*----------------- SECTION 1-------------------*/
#section1T{
	position:relative;
	background: url(../img/land_image.jpg) no-repeat center center/cover;
	width:100%;
	height:50vh;
	overflow:hidden;
}

#section1T::after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.50);
	z-index: 1;
}

#section1T > * {
    z-index: 100;
}

#descCont1T{
	position:absolute;
	width:70%;
}

#_title1T{
	width:100%;
	color:#FFFFFF;
	text-align:center;
	font-size:40px;
	font-family: 'go';
	text-shadow:0 0 10px 5px #484848;
}

#_desc1T{
	width:100%;
	margin-top:20px;
	text-align:center;
	color:#ED7900;/*6762FF*/
	font-size:14px;
	font-family: 'reg';
}


/*----------------- SECTION 2-------------------*/
#section2T{
	position:relative;
	background:#FFFFFF;
	width:100%;
	padding-top:50px;
	min-height:50vh;
	overflow:hidden;
}

#container{
	position:absolute;
	width:100%;
}


/*--------------------- FOOTER ---------------------*/
#footerT{
	position:relative;
	background:#FFFFFF;
	width:100%;
	height:5vh;
}

#footerT p{
	width:100%;
	text-align:center;
	color:#484848;
	font-size:14px;
}



/*--------------------- THEME WRAPPER ------------------------*/
#themeCont{
	position:relative;
	background:#FFFFFF;
	width:100%;
	padding-top:50px;
	min-height:50vh;
	overflow:hidden;
}

#container{
	position:relative;
	width:100%;
	color:#484848;
	padding-top:30px;
}

#desc, #wNew, #pInfo{
	width:100%;
	padding:20px;
	font-size:14px;
	font-family: 'reg';
}

#pInfo, #wNew{
	padding:0px;
}

#scCont{
	background:#EEEEEE;
	width:100%;
	height:300px;
	overflow:auto;
  	white-space: nowrap;
}

.title{
	padding:10px;
	font-size:20px;
}

#ver, #pri, #ios, #con, #txt{
	background:#EEEEEE;
	border-bottom:1px solid #FFFFFF;
	padding:10px;
	width:100%;
	font-size:12px;
	font-family: 'reg';
}

#con{
	cursor:pointer;
}

.sc{
	display:inline-block;
	height:300px;
	padding:0 20px;
}



@media (max-width: 48em) {
	
}




