
#radio-container{
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

#radio-songs-container{
	position:absolute;
	width:100%;
	height:calc(100% - 110px);
	text-align:center;
	padding-top:60px;
	overflow:auto;
}

.r-song{
	position:relative;
	background:var(--tbg);
	width:85%;
	height:60px;
	border-radius:var(--br);
	margin:10px auto;
	text-align:left;
	cursor:pointer;
}

.r-song > img{
	position:absolute;
	height:40px;
	border-radius:8px;
	left:15px;
	top:50%;
	transform:translateY(-50%);
}

.r-name{
	position:absolute;
	color:var(--primary);
	font-size:0.8rem;
	width:calc(100% - 85px);
	left:75px;
	top:15px;
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 1; 
   	-webkit-box-orient: vertical;
}

.r-artist{
	position:absolute;
	color:var(--primary);
	font-size:0.6rem;
	font-weight:300;
	width:calc(100% - 85px);
	left:75px;
	bottom:15px;
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 1; 
   	-webkit-box-orient: vertical;
}




@media screen and (max-width: 550px){
	
	
}




