
#container{
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

.art{
	position:absolute;
	width:100%;
	height:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
}

.art.open{
	opacity:1;
}

#cover{
	position:absolute;
	background:rgba(0,0,0,0.50);
	width:100%;
	height:100%;
}


/*--------------- HEAD ------------------*/
#head-container{
	position:absolute;
	width:100%;
	height:120px;
	display:flex;
	justify-content:space-around;
}

.btn{
	position:relative;
	background:none;
	display:inline-block;
	border-radius:30px;
	height:20px;
	padding:0 15px;
	padding-top:5px;
	font-size:12px;
	color:var(--primary);
	top:50%;
	transform:translateY(-50%);
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}

.btn.selected{
	background:var(--third);
}

#home{
	position:absolute;
	background:var(--tbg);
	width:20px;
	height:20px;
	border-radius:20px;
	right:10px;
	top:20px;
	overflow:hidden;
	cursor:pointer;
}

#close-song-btn{
	position:absolute;
	color:var(--primary);
	font-size:16px;
	left:52.5%;
	top:45%;
	transform:translate(-50%,-50%) rotate(45deg);
}



/*--------------- PAGES ------------------*/
#pages-container{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

.container{
	position:absolute;
	width:80%;
	height:100%;
	left:50%;
	transform:translateX(-50%);
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
}

.container.open{
	opacity:1;
}


/*SONG*/
#info-cont{
	position:absolute;
	width:100%;
	bottom:25%;
	transform:translateY(50%);
}

#_title{
	width:100%;
	font-weight:400;
	color:var(--primary);
	font-size:1.5rem;
}

#_album{
	width:100%;
	font-weight:300;
	color:var(--primary);
	margin-top:5px;
	font-size:0.8rem;
}

#player{
	position:absolute;
	background:var(--secondary);
	width:100%;
	max-width:300px;
	height:50px;
	border-radius:var(--br);
	left:50%;
	bottom:10%;
	transform:translate(-50%,50%);
}

#player_title{
	position:absolute;
	left:70px;
	top:50%;
	transform:translateY(-50%);
	color:var(--primary);
	font-size:0.8rem;
}

#btn-container{
	position:absolute;
	background:var(--tbg);
	width:30px;
	height:30px;
	border-radius:30px;
	left:20px;
	top:50%;
	transform:translateY(-50%);
}

[class^="zeek-"]:before,[class*=" zeek-"]:before {
	font-family: 'music' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.zeek-buttonnext:before {
	content: "\61";
}
.zeek-buttonpause:before {
	content: "\62";
}
.zeek-buttonplay:before {
	content: "\63";
}
.zeek-buttonprev:before {
	content: "\64";
}

#playPause{
	position:absolute;
	left:50%;
	top:55%;
	transform:translate(-50%,-50%);
	color:var(--primary);
	text-align:center;
	font-size:12px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	transition:opacity 0.2s ease-in-out;
}


#openwith-btn-container{
	position:absolute;
	background:var(--third);
	width:30px;
	height:30px;
	border-radius:30px;
	right:20px;
	top:50%;
	transform:translateY(-50%);
}

#arrow{
	position:absolute;
	font-size:1rem;
	color:var(--primary);
	left:50%;
	top:50%;
	transform:translate(-50%,-50%) rotate(90deg);
	transition:transform 0.3s ease-in-out;
}

#arrow.open{
	transform:translate(-50%,-50%) rotate(-90deg);
}

#openwith-container{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:100%;
	height:280px;
	border-radius:var(--br);
	bottom:0;
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
	overflow:hidden;
}

#openwith-container.open{
	opacity:1;
}

#openwith-title{
	position:relative;
	color:var(--primary);
	font-size:0.8rem;
	font-weight:400;
	width:90%;
	margin:15px auto;
}

.service-btn{
	position:relative;
	background:var(--tbg);
	width:95%;
	height:40px;
	border-radius:var(--br);
	margin:5px auto;
	cursor:pointer;
}

.slogo{
	position:absolute;
	width:30px;
	border-radius:30px;
	left:20px;
	top:50%;
	transform:translateY(-50%);
}

.sname{
	position:absolute;
	color:var(--primary);
	font-size:0.7rem;
	font-weight:300;
	left:70px;
	top:50%;
	transform:translateY(-50%);
}

.share {
    position:absolute;
	background:rgba(33,32,38,0.50);
	color:var(--primary);
	right:0;
	top:150px;
    font-size: 0.6rem;
	padding:10px 15px;
	border-radius:20px;
	cursor:pointer;
}


/*ALBUMS*/
#albums-container{
	position:absolute;
	width:100%;
	height:calc(100% - 120px);
	text-align:center;
	padding-top:120px;
	overflow:auto;
}

#albums-container .box{
	position:relative;
	display:inline-block;
	height:150px;
	margin:10px 0;
}


/*ALBUM*/
#album-title, #artist-title{
	position:absolute;
	top:180px;
	color:var(--primary);
	font-size:1.2rem;
	font-weight:400;
}

#songs-container{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:100%;
	max-width:400px;
	min-height:50px;
	max-height:40%;
	border-radius:var(--br);
	top:50%;
	left:50%;
	transform:translateX(-50%);
	overflow:auto;
}

.song{
	position:relative;
	border-bottom:1px solid var(--tbg);
	width:85%;
	height:40px;
	margin:5px auto;
	cursor:pointer;
}

.song-name{
	position:absolute;
	width:100%;
	color:var(--primary);
	font-size:0.7rem;
	top:50%;
	transform:translateY(-50%);
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 1; 
   	-webkit-box-orient: vertical;
}


/*ARTIST*/
#related-container{
	position:absolute;
	width:100%;
	height:150px;
	bottom:15%;
	transform:translateY(50%);
	overflow-x:auto;
}

#related-container > .box{
	width:120px;
}

#abg{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:120%;
	height:230px;
	border-radius:var(--br) var(--br) 0 0;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

#artist > .title{
	top:calc(100% - 220px);
	left:10px;
}





/*--------------- HEAD ------------------
header{
	position:fixed;
	background:rgba(0,0,0,.30);
	width:100vw;
	height:80px;
	overflow:hidden;
	z-index:100;
	-webkit-backdrop-filter:blur(20px);
}

#search-bar{
	position:absolute;
	width:40%;
	height:30px;
	border-radius:40px;
	border:1px solid var(--tbg);
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

#sIcon{
	position:absolute;
	width:15px;
	top:50%;
	right:15px;
	transform:translateY(-50%);
	border-left:1px solid var(--tbg);
	padding-left:15px;
}

.cls-I{fill:none;}.cls-I,.cls-I2{stroke:var(--third);stroke-miterlimit:10;stroke-width:5px;}.cls-I2{fill:none;stroke-linecap:round;}

input[type=text]{
	position:absolute;
	background:none;
	border:none;
	width:calc(100% - 70px);
	left:10px;
	top:42.5%;
	transform:translateY(-50%);
	color:var(--primary);
}

textarea:focus, input:focus{
    outline: none;
}

/*----------------- SECTION 1-------------------
#section1{
	position:absolute;
	width:100%;
	height:calc(100% - 80px);
	top:80px;
	overflow:hidden;
}

.title{
	position:absolute;
	top:20px;
	left:20px;
	color:var(--primary);
	font-size:1rem;
	font-weight:500;
}

.section-in{
	position:relative;
	width:100%;
	height:50%;
	padding:0;
	margin:0;
}

.items-container{
	position:absolute;
	width:100%;
	height:calc(100% - 1.2rem - 30px);
	bottom:0;
	overflow-x:auto;
}

#top-items-container, #genres-items-container{
	position:absolute;
	width:100%;
	height:100%;
}

/*HOME ITEMS
.box{
	position:absolute;
	width:150px;
	height:calc(100% - 10px);
	overflow:hidden;
}

.box > img{
	position:absolute;
	height:calc(100% - 30px);
	width:auto;
	left:50%;
	transform:translateX(-50%);
}

.box-name{
	position:absolute;
	width:100%;
	bottom:0;
	text-align:center;
	color:var(--primary);
	font-size:12px;
}




/*#logo{
	position:absolute;
	width:75px;
	cursor:pointer;
}

/*#menu-cont{
	position:absolute;
	right:0px;
	width:415px;
}*/

/*--------------- setup --------------
#subBtn{
	position:absolute;
	right:10px;
}


/*----------------- SECTION 1-------------------
#section1{
	position:relative;
	background:url(img/bg.JPG) no-repeat;
	background-position:center;
	background-size:cover;
	width:100%;
	height:100vh;
}

#title-cont{
	position:absolute;
	right:25%;
	transform:translate(50%,-50%);
}

#_title{
	color:#FFFFFF;
	margin-right:-10px;
	font-size:36px;
	letter-spacing:25px;
	text-align:right;
	font-weight:500;
}

#_sub-title{
	margin-top:20px;
	color:#979FA3;
	font-size:18px;
	letter-spacing:10px;
	text-align:right;
	font-weight:300;
}

#_sub-title > span{
	color:#DD254D;
	font-weight:400;
}

/*----------------- PARTICLES ----------------------
#partCont{
	position:absolute;
	border-radius:50%;
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
}

#particles-js{
	position:absolute;
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
}


/*----------------- SECTION 2-------------------
#section2{
	position:relative;
	background:#000000;
	width:100%;
	height:50vh;
}

#cir{
	position:absolute;
	border:2px solid #DD254D;
	width:50%;
	height:200%;
	border-radius:100%;
	box-shadow:inset 0 0 50px -5px #DD254D;
}

#_repo{
	position:absolute;
	color:#979FA3;
	font-size:20px;
}


/*----------------- SECTION 3-------------------
#section3{
	position:relative;
	width:100%;
	min-height:100vh;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#wid-cont{
	position:absolute;
	width:100%;
	top:100px;
}

.wid-box{
	position:relative;
	width:80vw;
	height:250px;
	overflow:hidden;
	cursor:pointer;
}

.nameW{
	position:absolute;
	background:rgba(0,0,0,.50);
	width:20%;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
}

.im-wid{
	position:absolute;
	width:100%;
	opacity: 0;
	transition: opacity 2s;
}

/*---------------- setup -------------------
#set-cont{
	position:absolute;
	width:90%;
}

.set-box{
	position:relative;
	display:inline-block;
	width:30%;
	height:250px;
	overflow:hidden;
	cursor:pointer;
}

.nameS{
	position:absolute;
	background:rgba(0,0,0,.50);
	width:80%;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
}

.im-set{
	position:absolute;
	width:100%;
	opacity: 0;
	transition: opacity 2s;
}


/*----------------- SECTION 4-------------------

#social-cont{
	position:fixed;
	width:350px;
	text-align:center;
	bottom:30px;
}

#social-cont img{
	display:inline-block;
	border-radius:8px;
	width:30px;
	margin:0 10px;
	cursor:pointer;
}


/*----------------- IMAGE VIEWER-------------------
#image-viewer, #setup-viewer{
	position:fixed;
	background:rgba(0,0,0,.90);
	width:100vw;
	height:100vh;
	z-index:200;
	display:none;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#full-wid{
	position:absolute;
	width:70%;
}

/*-------------------- setup ----------------------
#setup-viewer{
	background-image:
    linear-gradient(
	  60deg,
      rgba(27,40,76,.90),
      rgba(15,168,165,.90)
    );
}

#full-set{
	position:absolute;
	width:40%;
	left:10%;
}

#_desc{
	position:absolute;
	width:40%;
	left:60%;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	font-size:16px;
	font-family: 'rob';
	color:#FFFFFF;
}

#_desc a{
	color:#FFFFFF;
	text-decoration:none;
}

/*----------------- SUBMIT VIEW -------------------
#submit-view{
	position:fixed;
	background:rgba(255,255,255,.95);
	width:100vw;
	height:100vh;
	z-index:200;
	display:none;
}

#txt-submit{
	position:absolute;
	width:50%;
	font-size:16px;
	padding:20px;
	font-family: 'rob';
}




/* CLASES 
.closeBtn{
	position:fixed;
	background:#FFFFFF;
	width:60px;
	border-radius:5px;
	padding:5px;
	font-size:14px;
	text-align:center;
	top:40px;
	right:20px;
	cursor:pointer;
}

.txt-head{
	display:inline-block;
	min-width:100px;
	height:30px;
	padding-top:10px;
	margin-left:-4px;
	border-right:1px solid #FFFFFF;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	font-family: 'rob';
	cursor:pointer;
	transition:background 1s;
}

.midX{
	left:50%;
	transform:translateX(-50%);
}

.midY{
	top:50%;
	transform:translateY(-50%);
}

.center{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}


@media not all and (pointer: coarse) {
	.txt-head{
		transition:background 1s;
	}
	
	.txt-head:hover{
		background:rgba(255,255,255,1.0);
		color:#C12044;
	}
}
*/


@media screen and (max-width: 550px){
	
	#musicArt, #musicArtistArt{
		width:auto;
		height:100%;
	}
	
	#albums-container .box{
		height:120px;
		width:120px;
	}
	
	/*#title-cont{
		position:absolute;
		width:90%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	
	#_title{
		font-size:24px;
		letter-spacing:12px;
		text-align:right;
	}
	
	#_sub-title{
		font-size:12px;
		letter-spacing:5px;
		text-align:right;
	}
	
	#cir{
		width:95%;
		height:110%;
	}
	
	.wid-box{
		height:200px;
	}
	
	.set-box{
		width:50%;
		height:200px;
	}

	#full-wid{
		width:90%;
	}
	
	#txt-submit{
		width:80%;
	}
	
	#setup-viewer{
		text-align:center;
	}
	
	#full-set{
		position:static;
		width:90%;
		transform:translateY(35%);
	}
	
	#_desc{
		position:static;
		width:80%;
		margin-top:20px;
		margin-left: auto;
    	margin-right: auto;
		padding-bottom:20px;
		transform:translateY(45%);
	}*/
}




