
#container{
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

.art{
	position:absolute;
	width:100%;
	height:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
}

.art.open{
	opacity:1;
}

#cover{
	position:absolute;
	background:rgba(0,0,0,0.50);
	width:100%;
	height:100%;
}


/*--------------- HEAD ------------------*/
#head-container{
	position:absolute;
	width:100%;
	height:120px;
	display:flex;
	justify-content:space-around;
}

.btn{
	position:relative;
	background:none;
	display:inline-block;
	border-radius:30px;
	height:20px;
	padding:0 15px;
	padding-top:5px;
	font-size:12px;
	color:var(--primary);
	top:50%;
	transform:translateY(-50%);
	cursor:pointer;
	transition:background 0.3s ease-in-out;
}

.btn.selected{
	background:var(--third);
}

#home{
	position:absolute;
	background:var(--tbg);
	width:20px;
	height:20px;
	border-radius:20px;
	right:20px;
	top:20px;
	overflow:hidden;
	cursor:pointer;
}

#close-song-btn{
	position:absolute;
	color:var(--primary);
	font-size:16px;
	left:52.5%;
	top:45%;
	transform:translate(-50%,-50%) rotate(45deg);
}



/*--------------- PAGES ------------------*/
#pages-container{
	position:absolute;
	width:100%;
	height:calc(100% - 50px);
	overflow:hidden;
}

.container{
	position:absolute;
	width:80%;
	height:100%;
	left:50%;
	transform:translateX(-50%);
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
}

.container.open{
	opacity:1;
}


/*SONG*/
#info-cont{
	position:absolute;
	width:100%;
	bottom:25%;
	transform:translateY(50%);
}

#_title{
	width:100%;
	font-weight:400;
	color:var(--primary);
	font-size:1.5rem;
}

#_album{
	width:100%;
	font-weight:300;
	color:var(--primary);
	margin-top:5px;
	font-size:0.8rem;
}

#player{
	position:absolute;
	background:var(--secondary);
	width:100%;
	max-width:300px;
	height:50px;
	border-radius:var(--br);
	left:50%;
	bottom:10%;
	transform:translate(-50%,50%);
}

#player_title{
	position:absolute;
	left:70px;
	top:50%;
	transform:translateY(-50%);
	color:var(--primary);
	font-size:0.8rem;
}

#btn-container{
	position:absolute;
	background:var(--tbg);
	width:30px;
	height:30px;
	border-radius:30px;
	left:20px;
	top:50%;
	transform:translateY(-50%);
}

[class^="zeek-"]:before,[class*=" zeek-"]:before {
	font-family: 'music' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.zeek-buttonnext:before {
	content: "\61";
}
.zeek-buttonpause:before {
	content: "\62";
}
.zeek-buttonplay:before {
	content: "\63";
}
.zeek-buttonprev:before {
	content: "\64";
}

#playPause{
	position:absolute;
	left:50%;
	top:55%;
	transform:translate(-50%,-50%);
	color:var(--primary);
	text-align:center;
	font-size:12px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	transition:opacity 0.2s ease-in-out;
}


#openwith-btn-container{
	position:absolute;
	background:var(--third);
	width:30px;
	height:30px;
	border-radius:30px;
	right:20px;
	top:50%;
	transform:translateY(-50%);
}

#arrow{
	position:absolute;
	font-size:1rem;
	color:var(--primary);
	left:50%;
	top:50%;
	transform:translate(-50%,-50%) rotate(90deg);
	transition:transform 0.3s ease-in-out;
}

#arrow.open{
	transform:translate(-50%,-50%) rotate(-90deg);
}

#openwith-container{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:100%;
	height:230px;/*280*/
	border-radius:var(--br);
	bottom:0;
	transition:opacity 0.3s ease-in-out;
	display:none;
	opacity:0;
	overflow:hidden;
}

#openwith-container.open{
	opacity:1;
}

#openwith-title{
	position:relative;
	color:var(--primary);
	font-size:0.8rem;
	font-weight:400;
	width:90%;
	margin:15px auto;
}

.service-btn{
	position:relative;
	background:var(--tbg);
	width:95%;
	height:40px;
	border-radius:var(--br);
	margin:5px auto;
	cursor:pointer;
}

.slogo{
	position:absolute;
	width:30px;
	border-radius:30px;
	left:20px;
	top:50%;
	transform:translateY(-50%);
}

.sname{
	position:absolute;
	color:var(--primary);
	font-size:0.7rem;
	font-weight:300;
	left:70px;
	top:50%;
	transform:translateY(-50%);
}

.share {
    position:absolute;
	background:rgba(33,32,38,0.50);
	color:var(--primary);
	right:0;
	top:150px;
    font-size: 0.6rem;
	padding:10px 15px;
	border-radius:20px;
	cursor:pointer;
}

#youtubemusic{
	display:none;
}


/*ALBUMS*/
#albums-container{
	position:absolute;
	width:100%;
	height:calc(100% - 120px);
	text-align:center;
	padding-top:120px;
	overflow:auto;
}

#albums-container .box{
	position:relative;
	display:inline-block;
	height:150px;
	margin:10px 0;
}


/*ALBUM*/
#album-title{
	position:absolute;
	top:180px;
	color:var(--primary);
	font-size:1.2rem;
	font-weight:400;
}

#songs-container{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:100%;
	max-width:400px;
	min-height:50px;
	max-height:40%;
	border-radius:var(--br);
	top:50%;
	left:50%;
	transform:translateX(-50%);
	overflow:auto;
}

.song{
	position:relative;
	border-bottom:1px solid var(--tbg);
	width:85%;
	height:40px;
	margin:5px auto;
	cursor:pointer;
}

.song-name{
	position:absolute;
	width:100%;
	color:var(--primary);
	font-size:0.7rem;
	top:50%;
	transform:translateY(-50%);
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 1; 
   	-webkit-box-orient: vertical;
}


/*ARTIST*/
#artist-title{
	position:absolute;
	top:140px;
	color:var(--primary);
	font-size:1.2rem;
	font-weight:400;
	width:100%;
	text-align:center;
}

#top-songs-container{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:100%;
	max-width:350px;
	height:200px;
	border-radius:var(--br);
	bottom:230px;
	left:50%;
	transform:translateX(-50%);
	overflow:hidden;
}

#top-songs-container > .title{
	top:10px;
	left:15px;
}

#top-songs{
	position:absolute;
	width:100%;
	height:calc(100% - 2.1rem);
	top:2.1rem;
	overflow:auto;
}

#top-songs > .r-song > .r-name{
	top:50%;
	transform:translateY(-50%);
}

#related-container{
	position:absolute;
	width:100%;
	height:150px;
	bottom:15px;
	overflow-x:auto;
}

#related-container > .box{
	width:120px;
}

#abg{
	position:absolute;
	background:rgba(33,32,38,0.50);
	width:110%;
	height:210px;
	border-radius:var(--br) var(--br) 0 0;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}

#artist > .title{
	top:calc(100% - 195px);
	left:10px;
}


@media screen and (max-width: 550px){
	
	#musicArt, #musicArtistArt{
		width:auto;
		height:100%;
	}
	
	#albums-container .box{
		height:120px;
		width:120px;
	}
	
	
}




